<!DOCTYPE HTML>

<html>
	<head>
		<title>Cuisines</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css1/main.css" />
		<noscript><link rel="stylesheet" href="/css1/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<!-- <a href="index.html" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>
								</a> -->

							<!-- Nav -->
								<!-- <nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav> -->

						</div>
					</header>

				<!-- Menu -->
					<!-- <nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic.html">Ipsum veroeros</a></li>
							<li><a href="generic.html">Tempus etiam</a></li>
							<li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav> -->

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1><center>CUISINES</center></h1>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images1/cuisines/american.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=american">
										<h2>American</h2>
										<div class="content">
											<p><b>A fusion of cultures based on bland, simple flavors</b></p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images1/cuisines/caribbean.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=caribbean">
										<h2>Caribbean</h2>
										<div class="content">
											<p><b>A world of flavour from soothing rum drinks to exquisite hot sauces</b></p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images1/cuisines/chinese.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=chinese">
										<h2>Chinese</h2>
										<div class="content">
											<p><b>Rich and colorful with aromatic flavor and excellent taste</b></p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="images1/cuisines/greek.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=greek">
										<h2>Greek</h2>
										<div class="content">
											<p><b>A heart healthy cuisine with heavy use of olive oil</b></p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="images1/cuisines/indian.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=indian">
										<h2>Indian</h2>
										<div class="content">
											<p><b>Spicy, rich, flavourful and diverse</b></p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="images1/cuisines/italian.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=italian">
										<h2>Italian</h2>
										<div class="content">
											<p><b>Squisito!</b></p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images1/cuisines/korean.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=korean">
										<h2>Korean</h2>
										<div class="content">
											<p><b>Intensely flavoured, spicy and pungent</b></p>
										</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="images1/cuisines/mexican.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=mexican">
										<h2>Mexican</h2>
										<div class="content">
											<p><b>A nice blend of the indigenous and Spanish cuisine</b></p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images1/cuisines/thai.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=thai">
										<h2>Thai</h2>
										<div class="content">
											<p><b>A balance of sour, sweet, salty, bitter and spicy!</b> </p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>