<!DOCTYPE HTML>

<html>
	<head>
		<title>Cuisines</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css1/main.css" />
		<noscript><link rel="stylesheet" href="/css1/noscript.css" /></noscript>
		<link rel="icon" href="/images/carrot.png" sizes="64x64" type="image/png">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<a href="/" class="logo"><strong>EatHealthy</strong> <span>by Scarecrows</span></a>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>
				
			<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="/">Home</a></li>
						<li><a href="/cuisines">Meal Planning</a></li>
						<li><a href="/news">News</a></li>
					</ul>
					<ul class="actions stacked">
						<li><a href="/#one" class="button primary fit">Get Started</a></li>
					</ul>
					<ul class="actions stacked">
						<li><a href="/maintenance" class="button primary fit">About Us</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1><center>CUISINES</center></h1>
								<div class='loader'></div>								
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images1/cuisines/american.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=american">
										<h2>American</h2>
										<div class="content">
											<p><b>A fusion of cultures based on bland, simple flavors</b></p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images1/cuisines/caribbean.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=caribbean">
										<h2>Caribbean</h2>
										<div class="content">
											<p><b>A world of flavour from soothing rum drinks to exquisite hot sauces</b></p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images1/cuisines/chinese.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=chinese">
										<h2>Chinese</h2>
										<div class="content">
											<p><b>Rich and colorful with aromatic flavor and excellent taste</b></p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="images1/cuisines/greek.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=greek">
										<h2>Greek</h2>
										<div class="content">
											<p><b>A heart healthy cuisine with heavy use of olive oil</b></p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="images1/cuisines/indian.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=indian">
										<h2>Indian</h2>
										<div class="content">
											<p><b>Spicy, rich, flavourful and diverse</b></p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="images1/cuisines/italian.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=italian">
										<h2>Italian</h2>
										<div class="content">
											<p><b>Squisito!</b></p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images1/cuisines/korean.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=korean">
										<h2>Korean</h2>
										<div class="content">
											<p><b>Intensely flavoured, spicy and pungent</b></p>
										</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="images1/cuisines/mexican.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=mexican">
										<h2>Mexican</h2>
										<div class="content">
											<p><b>A nice blend of the indigenous and Spanish cuisine</b></p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images1/cuisines/thai.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/diet?cuisine=thai">
										<h2>Thai</h2>
										<div class="content">
											<p><b>A balance of sour, sweet, salty, bitter and spicy!</b> </p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js1/jquery.min.js"></script>
			<script src="/js1/browser.min.js"></script>
			<script src="/js1/breakpoints.min.js"></script>
			<script src="/js1/util.js"></script>
			<script src="/js1/main.js"></script>
			<script>
				$(window).on('load',function(){
					$(".loader").fadeOut(1000);
				});
					// $(".loading-container").fadeOut(1000);
					// $(".l1").fadeOut(1000);
					// $(".l2").fadeOut(1000);
					// $(".l3").fadeOut(1000);
					// $(".l4").fadeOut(1000);
					// $(".content").fadeIn(2000);
			</script>

	</body>
</html>