<!DOCTYPE HTML>

<html>
	<head>
		<title>Diets</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css1/main.css" />
		<noscript><link rel="stylesheet" href="/css1/noscript.css" /></noscript>
		<link rel="icon" href="/images/carrot.png" sizes="64x64" type="image/png">
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<a href="/" class="logo"><strong>EatHealthy</strong> <span>by Scarecrows</span></a>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>
				
			<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="/">Home</a></li>
						<li><a href="/cuisines">Meal Planning</a></li>
						<li><a href="/news">News</a></li>
					</ul>
					<ul class="actions stacked">
						<li><a href="/#one" class="button primary fit">Get Started</a></li>
					</ul>
					<ul class="actions stacked">
						<li><a href="/maintenance" class="button primary fit">About Us</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1><center>DIETS</center></h1>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="/images1/diets/gluten_free.jpg" alt="" width="300" height="300"/>
									</span>
									<a href="/food_item_list?diet=gluten_free">
										<h2>Gluten Free</h2>
										<div class="content">
											<p><b>A diet that avoids wheat, barley, rye, and other gluten-containing grains</b></p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="/images1/diets/vegetarian.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/food_item_list?diet=vegetarian">
										<h2>Vegetarian</h2>
										<div class="content">
											<p><b>A diet without any meat or meat by-products</b></p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="/images1/diets/vegan.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/food_item_list?diet=vegan">
										<h2>Vegan</h2>
										<div class="content">
											<p><b>A diet without any meat, eggs, dairy, or honey</b> </p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="/images1/diets/lacto_veg.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/food_item_list?diet=lacto_veg">
										<h2>Lacto-Vegetarian</h2>
										<div class="content">
											<p><b>A vegetarian diet where none of the ingredients can be or contain egg</b></p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image">
										<img src="/images1/diets/ovo_veg.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/food_item_list?diet=ovo_veg">
										<h2>Ovo-Vegetarian</h2>
										<div class="content">
											<p><b>A vegetarian diet where none of the ingredients can be or contain dairy</b></p>
										</div>
									</a>
								</article>
								<article class="style6">
									<span class="image">
										<img src="/images1/diets/keto.jpg" alt="" width="300" height="300" />
									</span>
									<a href="/food_item_list?diet=keto">
										<h2>Ketogenic</h2>
										<div class="content">
											<p><b>The keto diet is based more on the ratio of fat, protein, and carbs in the diet</b></p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js1/jquery.min.js"></script>
			<script src="/js1/browser.min.js"></script>
			<script src="/js1/breakpoints.min.js"></script>
			<script src="/js1/util.js"></script>
			<script src="/js1/main.js"></script>
	</body>
</html>