<!DOCTYPE HTML>

<html>
	<head>
		<title>Food Items</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css1/main.css" />
		<noscript><link rel="stylesheet" href="/css1/noscript.css" /></noscript>
		<link rel="icon" href="/images/carrot.png" sizes="64x64" type="image/png">
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<a href="/" class="logo"><strong>EatHealthy</strong> <span>by Scarecrows</span></a>
					<nav>
						<a href="#menu">Menu</a>
					</nav>
				</header>
				
			<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="/">Home</a></li>
						<li><a href="/cuisines">Meal Planning</a></li>
						<li><a href="/news">News</a></li>
					</ul>
					<ul class="actions stacked">
						<li><a href="#" class="button primary fit">Get Started</a></li>
					</ul>
					<ul class="actions stacked">
						<li><a href="/maintenance" class="button primary fit">About Us</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1><center>FOOD ITEMS</center></h1>
							</header>
							<section class="tiles">
								<% for( var i = 0; i < Math.min(item.length,6); i++ ) { %>
									<article class=<%="style"+(i+1)%>>
										<span class="image">
											<img src= "<%= item[i].image %>" width="300" height="300" />
										</span>
										<a href=<%="/food_item?item="+ item[i].id %>>
											<h2><%= item[i].title %></h2>
										</a>
									</article>
								<% } %>
														
							</section>
							<!-- <span class="image main"><img src="images1/pic13.jpg" alt="" /></span> -->
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js1/jquery.min.js"></script>
			<script src="/js1/browser.min.js"></script>
			<script src="/js1/breakpoints.min.js"></script>
			<script src="/js1/util.js"></script>
			<script src="/js1/main.js"></script>

	</body>
</html>