<!DOCTYPE HTML>

<html>
	<head>
		<title>Eat Healthy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
		<link rel="icon" href="/images/carrot.png" type="image/png">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="/" class="logo"><strong>EatHealthy</strong> <span>by Scarecrows</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>
					
				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/cuisines">Meal Planning</a></li>
							<li><a href="/news">News</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="/maintenance" class="button primary fit">About Us</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>One Stop Destination for Food Wellness</h1>
							</header>
							<div class="content">
								<p>Healthy Meal planning, Food Blogs, <br />
								 and more for a nourishing lifestyle!</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/cuisines" class="link">Meal Planning</a></h3>
										<p>Choose your favourite cuisine and diet to get personalized suggestions for dishes. Get recipes and nutrient content , all in one place.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/blog_1.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/news" class="link">Trending Food Blogs</a></h3>
										<p>All the recent food articles to guide you in your healthy journey, just a click away</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/maintenance" class="link">Personal Chef</a></h3>
										<p>You have the ingredients. We have the recipes. Make something delicious tonight!</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/maintenance" class="link">Healthy Living</a></h3>
										<p>Lifestyle, Nutrition tips, Special Diet Plans, Custom Workout, Healthy Food outlets near you and more!</p>
									</header>
								</article>
					</div>

				<section id="two">
					<div class="inner">
						<ul class="actions">
							<li><a href="/maintenance" class="button next">About Us</a></li>
						</ul>
					</div>
				</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=f20190179@goa.bits-pilani.ac.in" target="_blank" class="icon brands alt fa-google"><span class="label">Gmail</span></a></li>
								<li><a href="https://medium.com/@hitarthkothari9/coding-diaries-bits-pilani-postman-api-hackathon-1-0-f25988533142?source=rss------hackathons-5" target="_blank" class="icon brands alt fa-medium"><span class="label">Medium</span></a></li>
								<li><a href="https://github.com/hrishi508/Food-and-Health-Full-Stack-Web-Application" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.youtube.com/channel/UCe1MW9717ZeaElBZLde0HYw" target="_blank" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
								<li><a href="https://www.linkedin.com/in/hrishikesh-kusneniwar-04b3bb1b2/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>